body {
    padding: 0px;
    margin: 0px;
    padding-top: 100px;
}

.contact_info {
    height: 980px;
    display: flex;
}

.forms {
    padding: 40px;
    padding-left: 100px;
    flex:1;
    background-color: rgb(200,200,200);
}

.reach_details {
    flex:1;
    background-color: white;
    padding: 40px;
    padding-left: 100px;
}

.c1_head,
.post_head,
.c1_text {
    font-family: "Noto Serif";
}

.c1_head,
.c1_text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0px;
    padding: 20px;
    width: 800px;
}


.post_head {
    font-size: 50px;
    padding: 20px;
    margin: 0px;
}


.cus_name,
.cus_number,
.cus_email,
.event_type {
    margin-left: 20px;
    padding: 10px;
    width: 350px;
    margin-top: 20px;
    font-family: "Noto Serif";
}

.cus_text {
    font-family: "Noto Serif";
    margin-left: 20px;
    padding: 10px;
    width: 750px;
    margin-bottom: 20px;
}

.msg {
    margin-left: 20px;
    width: 773px;
    padding: 10px;
    height:40px;
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    /* border-radius: 5px; */
    transition: box-shadow 0.5s,background-color 0.5s,color 0.5s;
    margin-right: 50px;
}

.msg:hover {
    background-color: cyan;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    color: black;
}


.reach_head {
    font-family: "Noto serif";
    font-size: 50px;
}

.our_number,
.our_address,
.our_email {
    margin-top:60px;
    display: flex;
    align-items: center;

}


.texts {
    width: 600px;
    height: 50px;
}


.details_head,
.details_text {
    margin: 0px;
    font-family: "Noto Serif";
    margin-left: 20px;
}

.details_head {
    font-weight: 700;
    font-size: 24px;
}

.details_text {
    font-size: 18px;
    font-weight: 400;
    color: blue;
    cursor: pointer;
}



.d_img {
    width: 56px;
} 

