body {
    padding: 0px;
    padding-top: 200px;
    margin: 0px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c1 {
    width: 1200px;
    box-shadow: 0 0 30px black;
    padding: 100px;
    font-family: "Noto Serif";
    height: 2100px;
    margin-bottom: 100px;
}

.c1_head {
    font-size: 40px;
    text-align: center;
}

.WHY {
    margin: 0px;
    margin-bottom: 40px;
}

.WHAT {
    margin-top: 100px;
}


.textt {
    font-size: 20px;
    line-height: 30px;
}

.text-head1 {
    margin-top: 20px;
}

.text_head,
.text_head1 {
    font-size: 26px;
    font-weight: 700;
}