body {
    margin: 0px;
    padding-top: 100px;
}

/* h1,
p {
    font-family: "Noto Serif";
} */


.container1 {
    height: 980px;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.svg{
    padding-top: 20px;
}

.c1_hd {
    color: rgb(0, 0, 0);
    width: 800px;
    font-size: 60px;
    margin: 0px;
    padding-bottom: 100px;
    margin-left: 100px;
}

.con1_text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.c1_txt_box {
    background-color: black;
    width: 1340px;
    height: 600px;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; */
    transition: background-color 0.5s;
    text-align: center;
}

.c1_txt_box:hover {
    background-color: rgb(48, 48, 48);
}

.c1_box_hd,
.c1_text {
    color: white;
   
}

.c1_box_hd {
    /* padding: ; */
    font-size: 50px;
}

.c1_text {
    /* height: 400px; */
    padding: 40px;
    /* line-height: 30px; */
    text-align: left;
    font-size: 20px;
}


.container2{
    height: 1020px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 80px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.bold{
    font-size: 45px;
}

.c1_txt_box2 {
    /* background-color: black; */
    margin-top: 5rem;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* transition: background-color 0.5s; */
}

.c1_box_hd2,
.c1_text2 {
    color: white;
   
}

.c1_box_hd2 {
    padding: 40px;
    font-size: 50px;
}

.c1_text2 {
    height: 500px;
    /* padding: 40px 0 40px 40px;
    line-height: 30px; */
    font-size: 18px;
}

.wed-img{
    margin: 3rem;
    height: 750px;
    width: 750px;
    
}

.sk{
    height: 750px;
width: 800px;
color: white;
font-size: 24px;
}
.con1_text2{
    text-align: center;
}

.container3{
    height: 800px;
    background-color: beige;
    font-size: 30px;
}

.past_photos {
    background-color: black;
}

.photos_text {
    text-align: center;
    color: cyan;
    padding: 50px;
    font-size: 60px;
}

.photos_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
}

.pe{
   height: 436px;
   width: 655px;
}



.booking {
    padding: 50px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(109, 109, 109);
}

.book {
    align-items: center;
    text-align: center;
}

.booking_head,
.book_text {
    color: white;
    margin: 0px;
    padding:20px
}

.booking_head {
    padding-top: 50px;
}

.book_text{
    font-size: 18px;
} 

.book_now {
    margin-top: 20px;
    width: 150px;
    height:40px;
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(109, 109, 109);
    color: rgb(255, 255, 255);
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    transition: box-shadow 0.5s,background-color 0.5s,color 0.5s;
}

.book_now:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
