.hero,
.container3,
.container5{
    background-color: black;
    height: 100vh;
    width: 99.2vw;
}
 .container1 {
    display: flex;
    justify-content: space-around;
    height : 100vh;
    align-items: center;
} 
.main-text{
    width: 800px;

}
.heading_text {
    color: cyan;
    /* width: 500px; */
    font-size: 60px;
    width: 31.1vw;

}
.hero_img {
    width:31.3vw;
    padding: 0px;
}

.afliya,
.afliya1,
.afliya2{
    width: 100%;
    margin: 0px;
}
.afliya1{
    margin-bottom: 20px;
}
.hero-btn{
    height: 40px;
    width:150px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: black;
    margin-top: 20px;
    color: black;
    background-color: cyan;
    font-family: "Noto Serif";
    font-weight: bolder;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.hero-btn:hover{
    background-color: black;
    color: white;
    border-color: cyan;
    box-shadow: 0 0 10px cyan;
}
.com_text {
    font-size: 20px;
    font-weight: 300;
    padding: 0;
    color: white;
}
.container2 {
    background-color: rgb(24, 24, 24);
    height: 100vh;
    width: 99.2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.com_overview{
    color: rgb(255, 255, 255);
    font-size: 60px;
}
.com_overview{
    color: rgb(255, 255, 255);
    font-size: 60px;
}
.con_heading {
    background-color: black;
    color: cyan;
    margin: 0px;
    text-align: center;
    padding:3vw;
    font-size: 60px;
}
.services_con {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.offer1,
.offer2,
.offer3{
    height: 700px;
    width: 500px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
}
.off1,
.off2,
.off3{
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
.off_info {
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 25px;
    height: 400px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ser-btn{
    height: 40px;
    width:150px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: black;
    margin-top: 20px;
    color: black;
    background-color: cyan;
    font-family: "Noto Serif";
    font-weight: bolder;
    transition: background-color 0.5s,color 0.5s,border-color 0.5s;
}
.ser-btn:hover{
    background-color: black;
    color: white;
    border-color: cyan;
    box-shadow: 0 0 10px cyan;
}
.container4 {
    background-color: rgb(24, 24, 24);
    height: 100vh;
    width: 99.2vw;
}
.con4_heading {
    background-color: rgb(24, 24, 24);
    color: cyan;
    margin: 0px;
    text-align: center;
    padding: 2vw;
    font-size: 60px;
}
.past_con {
    padding:30px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}
.past_pic {
    width: 29.16vw;
}

img {
    width: 100%;
}
.container5 {
    background-color: black;
    height: 100vh;
    width: 99.2vw;
    /* width: ; */
}
.rev_con {
    display: flex;
    justify-content: space-evenly;
}
.rev1,
.rev2,
.rev3,
.rev4 {
    background-color: rgb(0, 0, 0);
    height: 350px;
    width: 450px;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}
.rev2 {
    margin-bottom: 40px;
}
.quote {
    width: 32px;
    margin-top: 20px;
    margin-left: 10px;
}
.rev_text,
.rev_author {
    padding: 15px;
    font-weight: 400;
    margin: 0px;
    color: white;
}


.team_name {
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tt{
    color: cyan;
    font-weight: 200;
    line-height: 30px;
    font-size: 18px;
    margin: 0px;
}



/* @keyframes slide {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);/
        opacity: 1;
    } 
}


.heading_text {
    animation: slide 1s ease-in;
} */