.footer {
    background-color: rgb(24, 24, 24);
    height: 540px;
    display: flex;
    justify-content: space-evenly;
}
.details{
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.com_name,
.details{
    margin-top: 50px;
}
.comp_name{
    margin: 0px;
    color: cyan;
    width: 500px;
    font-size: 60px;
    width: 500px
}
.know_us,
.read_policies,
.follow_us{
    color: white;
    font-size: 24px;
}
.links{
    color: white;
    font-size: 20px;
}
.links:hover {
    text-decoration: underline;
    cursor: pointer;
}
.insta,
.twitter,
.yt {
    width: 50px;
    margin-right: 20px;
}
.insta:hover,
.twitter:hover,
.yt:hover {
    cursor: pointer;
}

p,
h1 {
    font-family: "Noto Serif";
}