.hero{
    background-color: rgb(101, 32, 32);
    height: 600px;
    margin-top: 40px;
    
}
 .container {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(101, 32, 32); */ 
    height : 600px;
    align-items: center;
    /* padding-top: 40px ; */
} 
.main-text{
    height: 200px;
    width: 500px
}
img{
    width: 600px;
    height: 500px;
    margin: 20px;

}
.hero-btn{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    /* background-color: #750E21; */
}

/* p{
    justify-self: center;
} */
/* .hero_img {
    width: 400px;
    height: 300px;
    
} */

/* .com_text {
    font-size: 17px;
    font-family: Arial;
    font-weight: 100;
    padding: 0
    margin:0;
} */

.vendor_info {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: 500px;
    transition: background-color 0.5s;
}

.vendor_info:hover {
    cursor: pointer;
    background-color: #FEFAF6;
}

.vendor_text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
}

.text {
    font-size: 17px;
    font-family: Arial;
    margin: 50px;
    font-weight: 100;
}

.vendor_event_img {
    height: 400px;
}

.image1 {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

body {
    background-color: #EADBC8;
}