.hero{
    background-color: rgb(0, 0, 0);
    height: 900px;
    
}
 .container1 {
 .container1 {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(101, 32, 32); */ 
    height : 800px;
    align-items: center;
    /* padding-top: 40px ; */
} 
.main-text{
    width: 800px

}
.heading_text {
    color: cyan;
    width: 500px;
    font-size: 60px;
    width: 800px

}
.heading_text {
    color: cyan;
    width: 500px;
    font-size: 60px;
}
.hero_img {
    width:600px;
    padding: 0px;
    /* background-image: url("https://images.unsplash.com/photo-1550763229-dfdee850a9cf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTcwfHx8ZW58MHx8fHx8"); */
    /* object-fit: contain; */
}
.afliya{
    width: 100%;
    /* height: 500px; */
    margin: 0px;
}
.hero-btn{
    height: 40px;
    width:150px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: black;
    margin-top: 20px;
    color: black;
    background-color: cyan;
    font-family: "Noto Serif";
    font-weight: bolder;
    transition: background-color 0.5s,color 0.5s,border-color 0.5s;
}

.hero-btn:hover{
    background-color: black;
    color: white;
    border-color: cyan;
    box-shadow: 0 0 10px 
}

/* p{
    justify-self: center;
} */
/* .hero_img {
    width: 400px;
    height: 300px;
    
} */

.com_text {
    font-size: 20px;
    font-family: "Noto Serif";
    font-weight: 300;
    padding: 0;
    color: white;
}

.container2 {
    background-color: rgb(24, 24, 24);
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.com_overview{
    color: rgb(255, 255, 255);
    font-size: 60px;
}

h1 {
    font-family: "Noto Serif";

}

}

.com_overview{
    color: rgb(255, 255, 255);
    font-size: 60px;
}

h1 {
    font-family: "Noto Serif";
}

.container3 {
    background-color: black;
    height: 1080px;
}

.con_heading {
    background-color: black;
    color: cyan;
    margin: 0px;
    text-align: center;
    padding: 100px;
    font-size: 60px;
}

.services_con {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.offer1,
.offer2,
.offer3{
    height: 700px;
    width: 500px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
}

.off1,
.off2,
.off3{
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.off_info {
    color: white;
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: 200;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 25px;
    height: 400px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ser-btn{
    height: 40px;
    width:100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: black;
    margin-top: 20px;
    color: black;
    background-color: cyan;
    font-family: "Noto Serif";
    font-weight: bolder;
    transition: background-color 0.5s,color 0.5s,border-color 0.5s;
}

.ser-btn:hover{
    background-color: black;
    color: white;
    border-color: cyan;
    box-shadow: 0 0 10px cyan;
}