.nav {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
}

.heading_text {
    color: cyan;
    font-size: 3.0vw;
    flex:1;
}

.nav-btn {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.venue,
.decorations,
.services,
.contact_us {
    flex:1;
<<<<<<< HEAD
    /* width: 150px; */
     height:40px;
   font-family: "Noto Serif";
=======
    min-width: 150px;
    height:40px;
    font-family: "Noto Serif";
>>>>>>> 9bb6d7ad273b9c29489a0260f5ab4a5b4fcfdb3a
    font-size: 16px;
    font-weight: 600;
    background-color: cyan;
    color: black;
    border: solid black 2px;
    border-radius: 8px;
    transition: border-color 0.5s,background-color 0.5s,color 0.5s;
   
}

.venue:hover,
.decorations:hover,
.services:hover,
.contact_us:hover {
    background-color: black;
    box-shadow: 0 0 17px cyan;
    color: white;
    border-color: cyan;
}
