.nav {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
}

.heading_text {
    color: cyan;
    font-size: 60px;
}

.nav-btn {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.venue,
.decorations,
.services,
.contact_us {
    width: 150px;
    height:40px;
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: 600;
    background-color: cyan;
    color: black;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.5s,background-color 0.5s,color 0.5s;
}

.venue:hover,
.decorations:hover,
.services:hover,
.contact_us:hover {
    background-color: black;
    box-shadow: 0 0 15px cyan;
    color: white;
}
