body{
    margin: 0;
    padding: 0;
}
.name{
    text-align: center;
}

.nav-bar-container
{
    margin-top: 1 rem;
    height: 65 px;
    background-color: #102C57;
    color: white;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
