body{
    margin: 0;
    padding: 0;
}
.name{
    text-align: center;
}

.nav-bar-container
    {
    margin-top: 1 rem;
    height: 65 px;
    background-color: #571015;
    color: white;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .hero{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_img{
    height: 300px;
}

/* .com_info{
;
} */

html {
    scroll-snap-type: y mandatory;
}

.container1,
.container2,
.container3 {
    margin: 0px auto;

    scroll-snap-align: start;
}