*{  
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    
}

body{
    display: grid;
    /* grid-template-rows: 70px 100%;  */
}


main{
   margin: 130px 0 0;
    padding: 0 30px;
    height: 4493px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap; */
    justify-content: center;
   
    
}
.hero{
    height: 30rem;
    width: 100%;
    background-color: white;
    /* display: flex; */
    flex-wrap: nowrap;
    justify-items:center;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin-bottom: 64px;
}

.hero-container{
    height: 29rem;
    width: 100%;
   
}

.hero-msg{
    color: black;
    display: block;
    height: 184px;
    /* width: 936px; */
    margin:0px 220px 32px ;
    padding: 0px 30px;
    align-self: center;
    align-items: center;
    justify-content:center;
    text-align: center;
}

h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    
}

h3{
    color: #383838;
    font-weight: 200;
    font-size: 1.4rem;
}

.design{
   background: linear-gradient(90deg,#00c4cc,#7d2ae8);
   background-clip:unset;
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
    
}

.signup{
    margin-top: 2rem;
    color: #fff;
    background-color: #8B3Dff;
    border: none;
    /* height: 44px; */
    text-align:center;
    /* align-items: center; */
    /* width: 120px; */
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;

}

.cards img{
    height: 237px;
    width: 167px;
    margin-left: 10px;
    margin-top: 2rem;
   
}
.heading{
   height: 442px;
    /* width: 1288px; */
    margin: 0;
    justify-content: center;
    align-items: center;
}
.perfect{
    margin-bottom: 4rem;
}
h2{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    
}

.main{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 0;
}

.cardo{
    height: 313px;
    width: 297.7px;
    justify-content:flex-start;
    padding: 24px;
    border: 1px solid #383838;
    border-radius: 14px;
    margin-right: 24px;
}



h6{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.card-body{
    padding: 20px 0 20px;
    width: 100%;
    text-align:start;
    margin-top: 1rem;
}

.button{
    height: 2.5rem;
    color: #fff;
    font-weight: 700;
    background-color: #7d2ae8;
    border: none;
    border-radius: 4px;
}
.but1{
    width:auto;
}

.but2{
    width: 100%;
    
}
.btn3{
    margin-top: 1rem;
    width: 100%;
}

.btn4{
    height: 2.5rem;
    width: 100%;
    color: #000;
    font-weight: 700;
    background-color: #e9e7ec;
    border: none;
    border-radius: 4px;
    margin-top: 0.5rem;
}

.link{
    margin-top: 3.5rem;
    text-align: center;
}


.video{
    margin-top: 3rem;
}

.vid-crd{
    display: flex;
    justify-content:center;
    align-items: center;
  
}

.vid-card{
    align-self: center;
    margin-top: -2rem;
    padding:70px;
    justify-items: left;

}

.vid-card-title{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.vid-card-body{
    padding: 20px 0 0;
    width: 500px;
    text-align:left;
    font-size: 16px;
}

.vid-btn{
    height:40px;
    width: 135px;
    color: #fff;
    font-weight: 700;
    background-color: #7d2ae8;
    border: none;
    border-radius: 4px;
    margin-top: 1.7rem;

}


img{
    width: 644px;
    height: 419px;
}

a{
    color: #7d2ae8;
}

.gallery{
    height: 768.33px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.gal{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    height: 37px;

}
.gallery p{
    line-height: 3rem;
}

.gallery img{
    height: 546px;
    width: 90%;
    padding: 0px 15px;
    align-self: center;
}
.browse{
    height: 2.5rem;
    margin-top: 3rem;
    color: #000;
    font-weight: 700;
    background-color: #e9e7ec;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
}

.best{
   
    height: 694px;
    width: 1288px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.head{
    width: 600px;
    height: 110px;
    margin: 0 344px 32px;
}

.list{
    margin-bottom: 2rem;
    align-self: center;
}
.un-ord{
    width: 400px;
    height: 320px;
}
ul{
    font-size: 14px;
}

.icon{
    display: flex;
    align-items: center;
}

.vid1 video{
    margin-bottom: 2rem;
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teams{
    
    height: 2.5rem;
    color: #fff;
    font-weight: 700;
    background-color: #7d2ae8;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
}

.last{
    height: 426px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    
}

.last img{
    width:304px ;
    height: 228px;
}

.last p{
    padding-bottom: 2rem;
}

.imgs{
    display: flex;
    justify-content: space-evenly;
    
    
}

.pics{
    height: 60px;
    width: 304px;
    text-align: left;
    font-size: 13px;
    padding-right: 2rem;
}


/*Footer*/
.footerplanel{
    height: 370px; 
    display: flex;
    justify-content: space-evenly;
    border-top: 0.2px solid #ada1a1;
    border-bottom: 0.2px solid #ada1a1;
}

ul a{
    display: block;
    font-size: 14px;
    color: #000;
     margin-top: 10px;
}

ul p{
    padding: 48px 0 10px;
    font-size: 18px;
}

.copyright{
    height: 105px;
    margin-top: 2rem;
    text-align: center;
    font-size: 14px;
}

.emh{
    color: #888282;
    margin-bottom: 5px;
}
