body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* #navbar {
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    width: 11.9vw;
    height: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem   ;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
} */

#navbar{position: fixed;
        top: 0;
        height: 3vw;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1rem ;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin:1.5rem ;
    
}

#navbar a:hover {
    color: #120755;
}

.container{
    margin-top: 7rem;
    height: 10vw;
    width: 100%;
    text-align: center;
    
}


@media screen and (min-width:300px) and (max-width: 600px) {
    /* #navbar {
        position: fixed;
        top: 0;
        height: 3vw;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1rem ;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    } */

    #navbar {
        position: fixed;
        top: 0;
        left:0;
        bottom: 0;
        width: 11.9vw;
        height: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 0.5rem   ;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    #navbar a{
        margin: 0.5rem;
    }
    
}

@media screen and (min-width:600px) and (max-width:1300px) {
    /* #navbar {
        position: fixed;
        top: 0;
        left:0;
        bottom: 0;
        width: 12.9vw;
       height: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 0.5rem   ;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    } */
    #navbar a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
        margin:1.5rem ;   
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}